{% extends 'snippets/base.html' %}

{% load bootstrap %}

{% block title %}Snippet List{% endblock title %}

{% block content %}

    <div class="container">

        <form method="GET">
            {{ filter.form|bootstrap }}
            <button type="submit" class="btn btn-primary">Search</button>
        </form>

        {% for obj in filter.qs %}
          <p>{{ obj.name }} - ${{ obj.price }} - {{ obj.description }} - {{ obj.release_date }} </p>
        {% endfor %}
        
    </div>

{% endblock content %}
